{% extends "base.html" %}
{% block title %}Cool{% endblock %}
{% block containercontent %}
<div class="container mx-auto">
    <div class="grid h-screen place-items-center">
        <h2>Cool</h2>
        <p>Thank you, <strong>{{ name }}</strong>, for authorizing Feel me an access token for <a href="https://twitter.com/{{ screen_name }}">@{{
                screen_name }}</a>. We've successfully received your access token and confirmed it by retrieving some basic details
            on your behalf from the Twitter API. Yay!</p>
        <p>Here is what we pulled from the API on your behalf:</p>
        <ul>
            <li>You have Tweeted <span class="label label-success">{{ statuses_count }}</span> times.</li>
            <li>You have <span class="label label-success">{{ followers_count }}</span> followers.</li>
            <li>You follow <span class="label label-success">{{ friends_count }}</span> users.</li>
        </ul>
        </div>
</div>
{% endblock %}