{% extends "base.html" %}
{% block title %}Cool{% endblock %}
{% block containercontent %}
<div class="container mx-auto">
    <div class="grid h-screen place-items-center">
      <div class="flex flex-col justify-center">
        <p>Hy <strong>{{ name }}</strong></p>
        <h3>We have sent you a surprise...😉</h3>
        <h3>Check you twitter</h3>
      </div>
        <div>
            <li>You have Tweeted <span class="font-bold">{{ statuses_count }}</span> times 😁.</li>
            <li>You have <span class="font-bold">{{ followers_count }}</span> followers. 😲</li>
            <li>You follow <span class="font-bold">{{ friends_count }}</span> users.😍</li>
        </div>
        <div></div>
        </div>
</div>
		<hr>
{% endblock %}